<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>江苏</key>
	<array>
		<string>南京</string>
		<string>苏州</string>
		<string>无锡</string>
	</array>
	<key>浙江</key>
	<array>
		<string>温州</string>
		<string>杭州</string>
		<string>金华</string>
		<string>宁波</string>
	</array>
</dict>
</plist>
